.photo {
  height: 100vh;
  background-image: url("../Images/MobileBg.png");
  background-size: cover;
}
.photo i {
  position: fixed;
  color: white;
  opacity: 0.7;
  top: 25px;
  right: 25px;
  font-size: 3em;
  cursor: pointer;
  z-index: 4;
}

.intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.intro h1 {
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.3em;
  font-size: 4.4em;
  font-weight: 400;
  font-family: "PT Serif", serif;
}
.intro p {
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 1em;
  font-weight: 300;
}
