section {
  background-image: url("../Images/MobileSkills.png");
  background-size: cover;
  color: white;
  padding: 50px 25px;
}
.title {
  font-family: "PT Serif", serif;
  font-size: 3em;
}
.subsection {
  position: relative;
}
.separator {
  width: 40%;
  height: 1px;
  background-color: #07922a;
  margin: 1.5em 0;
}
.secTitle {
  font-size: 1.2em;
  padding: 0 2em;
}
section i {
  font-size: 1.2em;
  position: absolute;
}
.text {
  font-weight: 300;
  margin-bottom: 1em;
  letter-spacing: 1px;
  font-size: 1em;
  margin: 1em 0 2em;
}
